<div *ngIf="graphNumber === 8" class="vertical-navbar">
    <ul class="vertical-navbar-menu">
        <li class="vertical-navbar-item">
            <button class="icon-button" matTooltip="Exploring Mode" [class.selected]="selectedMode === 'explore'" (click)="selectMode('explore')">
                <mat-icon>explore</mat-icon>
            </button>
        </li>
        <li class="vertical-navbar-item">
            <button class="icon-button" matTooltip="Edit Mode" [class.selected]="selectedMode === 'edit'" (click)="selectMode('edit')">
                <mat-icon>edit_square</mat-icon>
            </button>
        </li>
        <li class="vertical-navbar-item">
            <button class="icon-button" matTooltip="Analyzing Mode" [class.selected]="selectedMode === 'analytics'" (click)="selectMode('analytics')">
                <mat-icon>analytics</mat-icon>
            </button>
        </li>
    </ul>
    <div class="vertical-navbar-divider"></div>
    <div class="vertical-navbar-lower">
        <ng-container *ngIf="selectedMode === 'explore'">
            <ul class="vertical-navbar-menu">
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="{{isTabletVisible ? 'Hide tablet' : 'Show tablet'}}" [class.selected]="isTabletVisible" (click)="isTabletVisible ? hideTablet() : showTablet()">
                        <mat-icon>tablet</mat-icon>
                    </button>
                </li>
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="{{isAutoRotateCamera ? 'Stop Autorotate camera' : 'Autorotate camera (Z axis)'}}" [class.selected]="isAutoRotateCamera" (click)="isAutoRotateCamera ? stopRotateCamera() : autoRotateCameraAroundZ()">
                        <mat-icon>360</mat-icon>
                    </button>
                </li>
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="Search Node" (click)="openSearchNodeDialog()">
                        <mat-icon>search</mat-icon>
                    </button>
                </li>
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="{{isLensModeEnabled() ? 'Disable Lens Mode' : 'Enable Lens Mode'}}" [class.selected]="isLensModeEnabled()" (click)="isLensModeEnabled() ? disableLensMode() : enableLensMode()">
                        <mat-icon>camera</mat-icon>
                    </button>
                </li>
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="{{isNeighboursHighlightActive() ? 'Disable Neighbours Highlight' : 'Enable Neighbours Highlight'}}" [class.selected]="isNeighboursHighlightActive()" (click)="isNeighboursHighlightActive() ? disableNeighboursHighlight() : enableNeighboursHighlight()">
                        <mat-icon>hub</mat-icon>
                    </button>
                </li>
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="{{isGroupNodesHighlightActive() ? 'Disable Group Nodes Highlight' : 'Enable Group Nodes Highlight'}}" [class.selected]="isGroupNodesHighlightActive()" (click)="isGroupNodesHighlightActive() ? disableGroupNodesHighlight() : enableGroupNodesHighlight()">
                        <mat-icon>workspaces</mat-icon>
                    </button>
                </li>
            </ul>
        </ng-container>
        <ng-container *ngIf="selectedMode === 'edit'">
            <ul class="vertical-navbar-menu">
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="{{isAutoRotateCamera ? 'Stop Autorotate camera' : 'Autorotate camera (Z axis)'}}" [class.selected]="isAutoRotateCamera" (click)="isAutoRotateCamera ? stopRotateCamera() : autoRotateCameraAroundZ()">
                        <mat-icon>360</mat-icon>
                    </button>
                </li>
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="Add Node" (click)="addNode()">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </li>
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="Remove Nodes" (click)="removeSelectedNodes()">
                        <mat-icon>do_not_disturb_on</mat-icon>
                    </button>
                </li>
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="Add Edge" (click)="addEdge()">
                        <mat-icon>open_in_full</mat-icon>
                    </button>
                </li>
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="Remove Edges" (click)="removeSelectedEdges()">
                        <mat-icon>mobiledata_off</mat-icon>
                    </button>
                </li>
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="Reset selections" (click)="resetSelectedElements()">
                        <mat-icon>history</mat-icon>
                    </button>
                </li>
            </ul>
        </ng-container>
        <ng-container *ngIf="selectedMode === 'analytics'">
            <ul class="vertical-navbar-menu">
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="{{isAutoRotateCamera ? 'Stop Autorotate camera' : 'Autorotate camera (Z axis)'}}" [class.selected]="isAutoRotateCamera" (click)="isAutoRotateCamera ? stopRotateCamera() : autoRotateCameraAroundZ()">
                        <mat-icon>360</mat-icon>
                    </button>
                </li>
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="{{isAllNodesColoredByGroup ? 'Reset All Nodes Colors' : 'Color All Nodes By Groups'}}" [class.selected]="isAllNodesColoredByGroup" (click)="isAllNodesColoredByGroup ? resetAllNodesColors() : colorAllNodesByGroups()">
                        <mat-icon>bubble_chart</mat-icon>
                    </button>
                </li>
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="{{isAllEdgesColoredByGroup ? 'Reset All Edges Colors' : 'Color All Edges By Groups'}}" [class.selected]="isAllEdgesColoredByGroup" (click)="isAllEdgesColoredByGroup ? resetAllEdgesColors() : colorAllEdgesByGroups()">
                        <mat-icon>stacked_line_chart</mat-icon>
                    </button>
                </li>
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="Extrude A Group" (click)="extrudeAGroup()">
                        <mat-icon>trending_up</mat-icon>
                    </button>
                </li>
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="Reset Group Extrusion" (click)="resetGroupExtrusion()">
                        <mat-icon>trending_down</mat-icon>
                    </button>
                </li>
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="{{isAllByGroupsExtrusion ? 'Reset Extrusion By Groups' : 'Extrude All By Groups'}}" [class.selected]="isAllByGroupsExtrusion" (click)="isAllByGroupsExtrusion ? resetAllExtrusionByGroups() : extrudeAllByGroups()">
                        <mat-icon>stacked_bar_chart</mat-icon>
                    </button>
                </li>
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="{{isAllByDegreeExtrusion ? 'Reset Extrusion By Degree' : 'Extrude All By Degree'}}" [class.selected]="isAllByDegreeExtrusion" (click)="isAllByDegreeExtrusion ? resetAllExtrusionByDegree() : extrudeAllByDegree()">
                        <mat-icon>signal_cellular_alt</mat-icon>
                    </button>
                </li>
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="{{isAllByDistanceExtrusion ? 'Reset Extrusion By Distance' : 'Extrude All By Distance'}}" [class.selected]="isAllByDistanceExtrusion" (click)="isAllByDistanceExtrusion ? resetAllExtrusionByDistance() : extrudeAllByDistance()">
                        <mat-icon>expand</mat-icon>
                    </button>
                </li>  
                <li class="vertical-navbar-item">
                    <button class="icon-button lower" matTooltip="{{isShortestPathExtrusion ? 'Reset Shortest Path' : 'Show Shortest Path'}}" [class.selected]="isShortestPathExtrusion" (click)="isShortestPathExtrusion ? resetShortestPathExtrusion() : extrudeShortestPath()">
                        <mat-icon>route</mat-icon>
                    </button>
                </li>
            </ul>
        </ng-container>
    </div>
</div>
<div #container style="width: 100%; height: 95vh;"></div>
<ng-container *ngIf="graphNumber===1">
    <button (click)="highlightNode()">Highlight Node</button>
    <button (click)="onSee2D()">2D View</button>
    <button (click)="onSee3D()">3D View</button>
    <button (click)="autoRotateCamera()">Abilita Rotazione Automatica</button>
    <button (click)="stopRotateCamera()">Disabilita Rotazione Automatica</button>
    <button (click)="changeBackgroundColor('white')">Sfondo Bianco</button>
    <button (click)="resetBackgroundColor()">Reset Sfondo</button>
    <button (click)="showTablet()">Mostra Tavoletta</button>
    <button (click)="hideTablet()">Nascondi Tavoletta</button>
    <button (click)="showShadows()">Mostra Ombre</button>
    <button (click)="hideShadows()">Nascondi Ombre</button>
</ng-container>
<ng-container *ngIf="graphNumber===2">
    <button (click)="autoRotateCamera()">Abilita Rotazione Automatica</button>
    <button (click)="stopRotateCamera()">Disabilita Rotazione Automatica</button>
    <button (click)="changeBackgroundColor('white')">Sfondo Bianco</button>
    <button (click)="resetBackgroundColor()">Reset Sfondo</button>
    <button (click)="showTablet()">Mostra Tavoletta</button>
    <button (click)="hideTablet()">Nascondi Tavoletta</button>
    <button (click)="showShadows()">Mostra Ombre</button>
    <button (click)="hideShadows()">Nascondi Ombre</button>
    <button (click)="addAmbientLight()">Add Ambient Light</button>
    <button (click)="removeAmbientLight()">Remove Ambient Light</button>
    <button (click)="addHemisphereLight()">Add Hemisphere Light</button>
    <button (click)="removeHemisphereLight()">Remove Hemisphere Light</button>
    <button (click)="addDirLight()">Add Dir Light</button>
    <button (click)="removeDirLight()">Remove Dir Light</button>
</ng-container>
<ng-container *ngIf="graphNumber===3">
</ng-container>
<ng-container *ngIf="graphNumber===4">
</ng-container>
<ng-container *ngIf="graphNumber===5">
    <button (click)="removeSelectedNodes()">Remove Nodes</button>
    <button (click)="addNode()">Add Node</button>
    <button (click)="addEdge()">Add Edge</button>
    <!-- 
    <button (click)="updateSimulation()">Update Simulation</button>
    -->
</ng-container>
<ng-container *ngIf="graphNumber===6">
    <!-- Banner -->
    <div *ngIf="selectedNodeObj" style="width: 100%; padding: 10px; background-color: black; border: 1px solid #ccc; margin-bottom: 10px; color: white;">
        <ng-container>
            <strong>ID: </strong> {{ selectedNodeObj.id }} - 
            <strong>X: </strong> {{ selectedNodeObj.x }} - 
            <strong>Y: </strong> {{ selectedNodeObj.y }} - 
            <strong>Z: </strong> {{ selectedNodeObj.z }} - 
            <strong>Group: </strong> {{ selectedNodeObj.group }}
        </ng-container>
    </div>
    <button (click)="extrudeSelectedNodes()">Extrude Nodes</button>
    <button (click)="doExtrusion()">Extrude Elements</button>
    <button (click)="resetExtrusion()">Reset Extrusion</button>
    <button (click)="changeCameraSettings()">Fix Camera Settings</button>
    <button (click)="resetCameraSettings()">Reset Camera Settings</button>
    <button (click)="addAmbientLight()">Add Ambient Light</button>
    <button (click)="removeAmbientLight()">Remove Ambient Light</button>
    <button (click)="addHemisphereLight()">Add Hemisphere Light</button>
    <button (click)="removeHemisphereLight()">Remove Hemisphere Light</button>
    <button (click)="extrudeShortestPath()">Shortest Path</button>
    <button (click)="resetShortestPathExtrusion()">Reset Shortest Path</button>
    <button (click)="autoRotateCameraAroundZ()">Abilita Rotazione Z</button>
    <button (click)="stopRotateCamera()">Disabilita Rotazione Automatica</button>
    <button (click)="extrudeNodesByGroup()">Nodes By Group</button>
    <button (click)="resetNodesExtrusionByGroup()">Reset Nodes By Group</button>
    <button (click)="extrudeAllByGroups()">Extrude All By Groups</button>
    <button (click)="resetAllExtrusionByGroups()">Reset Extrusion By Groups</button>
    <button (click)="colorAllNodesByGroups()">Color All Nodes By Group</button>
    <button (click)="resetAllNodesColors()">Reset All Nodes Colors</button>
    <button (click)="colorAllEdgesByGroups()">Color All Edges By Group</button>
    <button (click)="resetAllEdgesColors()">Reset All Edges Colors</button>
    <button (click)="showNodeInfo()">Show Node Info</button>
    <button (click)="hideNodeInfo()">Hide Node Info</button>
</ng-container>
<ng-container *ngIf="graphNumber===7">
    <button (click)="extrudeAGroup()">Extrude A Group</button>
    <button (click)="resetGroupExtrusion()">Reset Group Extrusion</button>
    <button (click)="autoRotateCameraAroundZ()">Abilita Rotazione Z</button>
    <button (click)="stopRotateCamera()">Disabilita Rotazione Automatica</button>
    <button (click)="enableLensMode()">Enable Lens Mode</button>
    <button (click)="disableLensMode()">Disable Lens Mode</button>
</ng-container>
<ng-container *ngIf="graphNumber===8">
</ng-container>
