.vertical-navbar {
    position: fixed;
    top: 0px;
    left: 0;
    width: 60px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5em;
  }
  
  .vertical-navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .vertical-navbar-item {
    margin-bottom: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .vertical-navbar-divider {
    width: 80%;
    height: 1px;
    background-color: grey;
  }
  
  .vertical-navbar-lower {
    background-color: #333; /* Dark grey color */
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon-button {
    background-color: black;
    border: none;
    color: white;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    text-align: center;
  }
  
  .icon-button.lower {
    background-color: #333; /* Dark grey color for lower section */
  }
  
  .icon-button.selected {
    background-color: lightgreen; /* Same color as horizontal navbar selection */
    color: black;
  }
  
  .icon-button:hover {
    background-color: grey;
  }