.navbar {
  background-color: black;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: flex-start; /* Allinea i bottoni a sinistra */
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-right: 1em; /* Aggiungi spazio tra i bottoni */
}

.navbar-button {
  background-color: black;
  border: none;
  color: white;
  padding: 0.1em 1em;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-button.selected {
  background-color: lightgreen; /* Colore per il bottone selezionato */
  color: black;
}

.navbar-icon-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end; /* Allinea i bottoni a destra */
  margin: 0;
  padding: 0;
  margin-left: auto; /* Spinge il menu delle icone tutto a destra */
  margin-right: 15px;
}

.navbar-icon-item {
  margin-left: 1em; /* Aggiungi spazio tra i bottoni delle icone */
  display: flex;
  align-items: center; /* Centra verticalmente gli elementi */
}

.icon-button {
  background-color: black;
  border: none;
  color: white;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.icon-button.selected {
  background-color: lightgreen; /* Same color as horizontal navbar selection */
  color: black;
}

.icon-button:hover {
  background-color: grey;
}

.mode-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  height: 40px; /* Altezza del toggle */
  width: 60px; /* Larghezza del toggle */
  border-radius: 5px;
}

.mode-toggle span {
  display: block;
  width: 100%;
  text-align: center;
  color: white;
}